<div class="content">
  <div class="container article">
    <div class="row-feature">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg8">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title"><%= @article.title %><span class="a-right glyphicon glyphicon-plane"></span></h2>
          </div>
          <div class="panel-body">
            <ul class="article">
              <li>By: <%= @article.author %></li>
              <li><span class="glyphicon glyphicon-calendar"></span></li>
              <li><%= @article.updated_at.strftime( "%A, %d %b %Y %H:%M" ) %></li>
            </ul>
             <hr class="article">
             <p><%= @article.body %></p>
          </div>
          <div class="panel-footer">
            <ul>
              <li><%= link_to 'Edit', edit_article_path(@article) %></li> |
              <li><%= link_to 'Delete', @article, method: :delete, data: {confirm: 'Are you sure?'} %></li> |
              <li><%= link_to 'Back', articles_path %></li>
            </ul>
          </div>
        </div>
        <div>
          <p><h2>Add a Comment</h2></p>
          <%= form_for([@article, @article.comments.build]) do |f| %>
            <p>
              <%= f.label :commenter %><br>
              <%= f.text_field :commenter %>
            </p>
            <p>
              <%= f.label :body %><br>
              <%= f.text_area :body %>
            </p>
            <p>
              <%= f.submit %>
            </p>
          <% end %>
        </div>
        <div>
          <% unless @article.comments.first.new_record? %>
            <p><h2>Comments</h2></p>
            <% cache(cache_key_for_comments) do %>
              <% @article.comments.each do |comment| %>
                <% unless comment.new_record? %>
                  <p>
                    <strong>Commenter:</strong>
                    <% cache(comment.commenter) do %>
                      <%= comment.commenter %>
                    <% end %>
                  </p>
                  <p>
                    <strong>Comment:</strong>
                    <% cache(comment.body) do %>
                      <%= comment.body %>
                    <% end %>
                  </p>
                    <% cache((comment.id).to_s + "destroy") do %>
                      <%= link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

