<% @body_id='contact' %>
<div id="content">
  <div class="container">
    <div class="row feature">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <div class="responsive-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1240.2587987606707!2d0.015081443026991034!3d51.55874420352687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a776529fbef3%3A0xe5dbc3a586402547!2s7+Courtenay+Rd!5e0!3m2!1sen!2suk!4v1400774858770" width="500" height="250" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <p>
          <address>
            <strong>The Adventure Agency</strong><br>
            7 Courtenay Road, Leytonstone <br>
            London E113PY England<br>
            <abbr title="Phone">P:</abbr>+1 800 000 0000
          </address>
        </p>
        <!--script type="text/javascript">

          $(document).ready(function(){  //<![CDATA[
            <!--
            var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
            "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
            "\\\\,l=x.length;for(i=0;i<l;i++){if(i==7)y+=i;y%=127;o+=String.fromCharCode" +
            "(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\cgj\\\\\\\\177fica8`jpn~ps6=\\" +
            "\\\\\\034Q\\\\\\\\034fIDOK\\\\\\\\022\\\\\\\\t\\\\\\\\026J\\\\\\\\014E\\\\\\"+
            "\\\\\\\\\\JV\\\\\\\\014n\\\\\\\\021YT_[LV\\\\\\\\000ZQ\\\\\\\\\\\\\\\\LK)/(" +
            "*) ((\\\\\\\\010.'*%!`,?<\\\\\\\\016qj\\\\\\\\t$\\\\\\\\013687:.)71\\\\\\\\" +
            "n\\\\\\\\010\\\\\\\\017\\\\\\\\006\\\\\\\\n\\\\\\\\n&\\\\\\\\000\\\\\\\\005" +
            "\\\\\\\\010\\\\\\\\003\\\\\\\\007B\\\\\\\\016\\\\\\\\001\\\\\\\\002L^\\\\\\" +
            "\\023MHZ\\\\\\\\006IZPAKG\\\"\\\\,7)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArah" +
            "c.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)84=!)31/l(tAedoCrahc." +
            "x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"                  ;
            while(x=eval(x));
            //
            //]]> 
          });

        </script-->
      </div>
    </div>
  </div><!-- .container -->
   <div class="container">
    <div class="row feature">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-">
        <%= form_tag({controller: "contact", action: "form_out"}, method: "post", id: "contact-form") do %>
          <h2>Send us a message</h2>
          <p>If you have any questions or comments, contact us using the form below.</p>
          <p><%= label_tag(:name, "Name") %></p>
          <p><%= text_field_tag(:name, nil,{placeholder:'Full Name'}) %></p>
          <p><%= label_tag(:email, "Email") %></p>
          <p><%= text_field_tag(:email) %></p>
          <p><%= label_tag(:website, "Website") %></p>
          <p><%= text_field_tag(:website) %></p>
          <p><%= label_tag(:message, "Comments") %></p>
          <p><%= text_area_tag(:message, nil, size: "60x10") %></p>
          <p><%= submit_tag("Submit", {class:'btn btn-success'}) %></p>
        <% end %>
      </div><!-- .col-xs-7 .col-sm-7 .col-md-7 .col-lg-7 -->
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      </div><!-- .col-xs-5 .col-sm-5 .col-md-5 .col-lg-5 -->
    </div><!-- .row .feature -->
  </div><!-- .container -->
</div><!-- #content -->