<% @body_id='destinations' %>
<div class="container">
  <div class="row feature">
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      <%= render '/products/search' %>
      <%= render '/articles/newest_articles' %>
      <%= render '/pages/enews' %>
      <%= render '/pages/brochure' %>
      <%= render '/products/reviews' %>
    </div><!-- col-xs-1 col-sm-3 col-md-3 col-lg-3 -->
    <% @products.limit(6).each do |p| %>
      <div class="col-xs-1 col-sm-9 col-md-9 col-lg-9">
        <div class="product clearfix" id="product-list">
          <%= link_to product_path(p.id) do %>
            <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
                <%= image_tag("#{p.image_src}", {:class=>'img-responsive', :alt=>'#{p.name}'}) %>
            </div>
            <div class="col-xs-1 col-sm-6 col-md-6 col-lg-6">
            <div id="product-points">
              <ul>
                <li>Walking through forest to catch a glimpse of the Kilimanjaro Colobus Monkeys.</li>
                <li>The sight of the permanent snow capped peak of Mt Kilimanjaro (5895m) provides a constant source of inspiration when viewed from the vast plains.</li>
                <li>It is also a natural focus for any fit trekker keen to summit the highest peak in Africa. Witness big game on open savannah.</li>
              </ul> 
            </div>     
            </div>
            <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
              <div id="product-price">
                <ul>
                <li>From <span>£600</span> without flights</li>
                <li>From <span>£900</span> with flights</li>
              </ul>
              </div>
              <div class="rating">
                <p>Customer rating</p>
                <span id="sp2">&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span>
              </div>
              <div id="calendar">
                <p>Availability</p>
                <ul>
                  <li>J</li>
                  <li>F</li>
                  <li>M</li>
                  <li>A</li>
                  <li>M</li>
                  <li>J</li>
                  <li>J</li>
                  <li>A</li>
                  <li>S</li>
                  <li>O</li>
                  <li>N</li>
                  <li>D</li>
                </ul>
              </div>
            </div>
          <% end %>
        </div><!-- .product -->
      </div><!-- col-xs-1 col-sm-9 col-md-9 col-lg-9 -->
    <% end %>
  </div>
</div>


