<% @body_id='destinations' %>

<% cache(cache_key_for_products) do %>
  <% @products.each do |product| %>
    <% if product.id.odd? %>
      <div class="container product">
        <div class="row-feautures">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <% cache(product) do %>
              <img src="<%= product.image_src %>" width="250px" height="200px">
            <% end %>
          </div>
        </div>
        <div class="row-testimonials">
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <% cache(product) do %>
              <h2><%= link_to product.name, product %></h2>
              <p><%= product.description %></p>
            <% end %>
            <div>
              <ul class="product p-left">
              <% cache(product) do %>
                <li>Months: <%= product.months %>
                <li>Price: <%= number_to_currency(product.price, precision: 2, unit: '£') %>
              <% end %>
              </ul>
              <ul class="product p-right">
                <% cache(product) do %>
                  <li><%= link_to 'Show', product %>
                  <li><%= link_to 'Edit', edit_product_path(product) %>
                  <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container product">
        <div class="row-testimonials">
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <% cache(product) do %>
              <h2><%= link_to product.name, product %></h2>
              <p><%= product.description %></p>
            <% end %>
            <div>
              <ul class="product p-right">
              <% cache(product) do %>
                <li>Months: <%= product.months %>
                <li>Price: <%= number_to_currency(product.price, precision: 2, unit: '£') %>
              <% end %>
              </ul>
              <ul class="product p-left">
                <% cache(product) do %>
                  <li><%= link_to 'Show', product %>
                  <li><%= link_to 'Edit', edit_product_path(product) %>
                  <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="row-feautures">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <% cache(product) do %>
              <img src="<%= product.image_src %>" width="250px" height="200px">
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="container product">
  <%= link_to 'New Product', new_product_path %>
</div>

