<p id="notice"><%= notice %></p>
<div class="container product">
  <div class="row-feautures">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <img src="<%= @product.image_src %>" width="250px" height="200px">
    </div>
  </div>
  <div class="row-testimonials">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <h2><a><%= @product.name %></a></h2>
      <p><%= @product.description %></p>
      <div>
        <ul class="product p-left">
          <li>Months: <%= @product.months%>
          <li>Price: <%= number_to_currency(@product.price, precision: 2, unit: '£') %>
        </ul>
        <ul class="product p-right">
          <%= link_to 'Edit', edit_product_path(@product) %> |
          <%= link_to 'Back', products_path %>
        </ul>
      </div>
    </div>
  </div>
</div>
