<% @body_id = 'destinations' %>
<div class="container">
  <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Travel Tips</h3>
      </div>
      <div class="panel-body" id="tips">
        <ul>
          <li>Time Zone</li>
          <li>UTC/GMT + 3:00hours</li>
          <li>Languages</li>
          <li>Swahili, English</li>
          <li>Foreign Exchange Rate</li>
          <li>1.00 GBP = 2,505.29 TZS</li>
          <li>Weather</li>
          <li>31°/17°</li>
        </ul>
      </div>
    </div>
    <%= render '/pages/enews' %>
    <%= render '/pages/brochure' %>
  </div><!-- col-xs-1 col-sm-3 col-md-3 col-lg-3 -->
  <div class="col-xs-3 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Tanzania</h3>
      </div>
      <div class="panel-body" id="pikame">
        <ul >
          <li><img src="/images/_destinations/africa/tanzania/seren7.jpg"></li>
          <li><img src="/images/_destinations/africa/tanzania/seren11.jpg"></li>
          <li><img src="/images/_destinations/africa/tanzania/seren9.jpg"></li>
          <li><img src="/images/_destinations/africa/tanzania/seren6.jpg"></li>
          <li><img src="/images/_destinations/africa/tanzania/seren8.jpg"></li>
          <li><img src="/images/_destinations/africa/tanzania/seren14.jpg"></li>
        </ul>
      </div>
    </div>
    <div id="product-navbar">
      <ul>
        <li><a href="#a" id="over" onclick="overview()">Overview</a>
        <li><a href="#a" onclick="dates_prices()">Dates and prices</a>
        <li><a href="#a" onclick="tour()">Tour</a>
        <li><a href="#a" onclick="reviews()">Reviews</a>
      </ul>
      <div id="overview">
        <p>The park covers 14,750 square kilometres (5,700 sq mi)[7] of grassland plains, savanna, riverine forest, and woodlands. The park lies in northwestern Tanzania, bordered to the north by the Kenyan border, where it is continuous with the Maasai Mara National Reserve. To the southeast of the park is the Ngorongoro Conservation Area, to the southwest lies Maswa Game Reserve, to the west are the Ikorongo and Grumeti Game Reserves, and to the northeast and east lies the Loliondo Game Control Area. Together, these areas form the larger Serengeti ecosystem.</p>
      </div>
      <div id="dates-prices">
        <p>The Dates and prices</p>
      </div>
      <div id="tour">
        <p>The Tour</p>
      </div>
      <div id="reviews">
        <p>The Reviews</p>
      </div>
    </div><!-- .product-navbar -->
    <div id="book">
      <button class="btn btn-large clearfix">Book Now!</button>
    </div>
  </div><!-- .col-xs-3 col-md-6 col-lg-6 -->
  <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
    <%= render '/articles/newest_articles' %>
    <%= render '/products/reviews' %>
  </div>
</div><!-- .container-product -->

<div class="article modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <!-- <h3 class="modal-title">New Article</h3> -->
        <h3 class="modal-title">New Testimonial</h3>
      </div>
      <div class="modal-body">
        <%= form_for([@product, @product.testimonials.build]) do |t| %>
          
          <p>
          <%= t.label :name %><br>
          <%= t.text_field :name %>
        </p>
          <p>
          <%= t.label :email  %><br>
          <%= t.text_field :email %>
        </p>
           <p>
          <%= t.label :body %><br>
          <%= t.text_area :body %>
        </p>
        <!-- </p>
          <div class="rating"><span id="sp2">&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span></div>
        <p> -->
          <input name="star1" type="radio" class="star"/>
          <input name="star1" type="radio" class="star"/> 
          <input name="star1" type="radio" class="star"/> 
          <input name="star1" type="radio" class="star"/> 
          <input name="star1" type="radio" class="star"/> 
        <p>
          <%= t.submit %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div><!-- .modal .fade -->


<script>
  overview();
  $(document).ready(function(){
    $('#sp2').click(function(){
      $('#sp2').rate();
    });
  });

 //  $(document).ready(function() {
 //   $('#test').click(function(){
 //     $('#test').hide();
 //   });
 // });


  function rate(){
    alert("lakjdhkaj");
  }
</script>
<script>
  $(function(){ 
    $('#pikame ul').pikachoose({speed:5500, transition:[0], animationSpeed:150 });
  });
</script>
