<footer>
  <div class="container">
    <div class="col-md-5">
      <div id="mc_embed_signup">
        <form action="https://onjumpstarter.us8.list-manage.com/subscribe/post?u=a0767ebdd4eab0f955b33d4cb&amp;id=c2ed91adda" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <label for="mce-EMAIL">Receive our latest offers, trends and stories direct to your inbox.</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@address.com" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_a0767ebdd4eab0f955b33d4cb_c2ed91adda" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info">
        </form>
      </div>
      <nav>
        <ul class="navfooter" id="policy">
          <li><%= link_to 'Terms / ', "#" %>
          <li><%= link_to 'Privacy Policy / ', "#", data: {target: "#privacy", toggle: "modal", keyboard: "true"}  %>
          <li><%= link_to 'Coockie Policy', "#" %>
        </ul>
      </nav>
      <div>
        <p>Copyright &copy; 2016</p>
      </div>
    </div>
    <div id="company" class="col-md-4">
      <label>Company</label>
      <nav>
        <ul class="navfooter">
          <li><%= link_to 'About Us', about_path %>
          <li><%= link_to 'Brochure request', brochure_path %>
          <li><%= link_to 'Customer reviews', about_path %>
          <li><%= link_to 'FAQ', faq_path, 'id'=>'nav-faq' %>
          <li><%= link_to 'Destinations', faq_path, 'id'=>'nav-faq' %>
          <li><%= link_to 'Blog', faq_path, 'id'=>'nav-faq' %>
          <li><%= link_to 'Contact Us', faq_path, 'id'=>'nav-faq' %>
        </ul>
      </nav>
    </div>
    <div id="contact-footer" class="col-md-3">
      <label>Follow Us</label>
      <nav>
        <ul class="navfooter" id="social-media">
          <li><%= link_to image_tag("/images/social-media/tw.png", {:class=>"social-media"}) %>
          <li><%= link_to image_tag("/images/social-media/fb.png", {:class=>"social-media"}) %>
          <li><%= link_to image_tag("/images/social-media/yt.png", {:class=>"social-media"}) %>
          <li><%= link_to image_tag("/images/social-media/gp.png", {:class=>"social-media"}) %>
          <li><%= link_to image_tag("/images/social-media/ig.png", {:class=>"social-media"}) %>
        </ul>
      </nav>
    </div>		
	</div><!-- .container -->
</footer>