<header id="<%= @header_id %>">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>  
  <div class="container header">
    <nav>
      <ul class="nav">
        <li><%= link_to 'Home', root_path, 'id'=>'nav-home' %>
        <li class="dropdown">
          <%= link_to raw('About<span class="caret"></span>'), '', 'class'=>'dropdown-toggle', 'data-toggle'=>'dropdown', 'id'=>'nav-about' %>
          <ul class="dropdown-menu">
            <li><%= link_to 'About the Company', about_company_path %>
            <li><%= link_to 'About the Team', about_team_path %>
          </ul>
        </li>
        <li><%= link_to 'Destinations', destinations_path, 'id'=>'nav-destinations' %>
        <li><%= link_to 'Contact', contact_path, 'id'=>'nav-contact' %>
        <% if user_signed_in? %>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, 'id'=>'nav-signout' %></li>
          
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path, 'id'=>'nav-signin' %>|
          <%= link_to 'Sign Up', new_user_registration_path, 'id'=>'nav-signup' %></li>
        <% end %>
      </ul>
      <!-- <div class="login">
 -->    <% if user_signed_in? %>
          <ul class="login">
            <li>You are logged in as:</li>
            <li class="dropdown">
              <%= link_to raw(current_user.email + '<span class="caret"></span>'), '', 'class'=>'dropdown-toggle', 'data-toggle'=>'dropdown', 'id'=>'nav-profile' %>
              <ul class="dropdown-menu profile">
                <% if current_user.is_admin == true %>
                  <li><%= link_to 'Admin Dashboard', rails_admin_path %>
                <% elsif %>
                  <li><%= link_to 'Profile', user_path(current_user.id) %>
                <% end %>
              </ul>
            </li>
          </ul>
        <% end %>
    <!--   </div> -->
    </nav>
    
    
    <% flash.each do |key, value| %>
      <% if key == 'alert' %>
        <div class="alert alert-danger message"><%=value%></div>
      <% elsif key == 'notice' %>
        <div class="alert alert-success message"><%=value%></div>
      <% end %>
    <% end %>
  </div><!-- .container -->  
</header>