<% @body_id='signup' %>
<div class="col-md-4 col-md-push-4">
  <%= form_for(resource, as: resource_name, builder: BootstrapFormBuilder, url: registration_path(resource_name), html: { id: 'signup'}) do |f| %>
    <%= devise_error_messages! %>
    <h4 class="bg-primary">Register</h4>
    <div class="form-group">
      <label for="usr_title">Title</label>
      <select class="form-control" autofocus="true">
        <option>Mr.</option>
        <option>Mrs.</option>
        <option>Miss.</option>
        <option>Ms.</option>
      </select>
    </div>
    <div class="form-group">
      <label for="usr_fname">First Name</label>
      <input type="text" class="form-control" id="usr_fname" placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="usr_lname">Last Name</label>
      <input type="text" class="form-control" id="usr_lname" placeholder="Last Name">
    </div>
    <%= f.email_field(:email) %>
    <%= f.password_field(:password) %>
    <em class="help-block">(<%= @minimum_password_length %> characters minimum)</em>
    <%= f.password_field(:password_confirmation, label: "Password confirmation") %>
    <%= f.submit("Create Account") %>
    <p class="pull-left"><%= render "users/shared/links" %></p>
  <% end %>
</div><!-- .col-md-4 -->